## Supabase Public Keys for Frontend
NEXT_PUBLIC_SUPABASE_URL=https://vqnpluzjzuhjztktqath.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZxbnBsdXpqenVoanp0a3RxYXRoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDY5NTY1MTEsImV4cCI6MjA2MjUzMjUxMX0.08EqT8He2dvetkDPElawcBq6kCnoW9L2ldCA5Vkr3SM

## Supabase Database Settings
DATABASE_NAME="syncdstudy"

## Primary Connection String
DATABASE_URL="postgresql://postgres:Redpanda321!@db.vqnpluzjzuhjztktqath.supabase.co:5432/postgres"

## Prisma Schema Push / Migration
POSTGRES_PRISMA_URL="postgresql://postgres:Redpanda321!@db.vqnpluzjzuhjztktqath.supabase.co:5432/postgres?schema=public&sslmode=require"
PRISMA_DATABASE_URL="postgresql://postgres:Redpanda321!@db.vqnpluzjzuhjztktqath.supabase.co:5432/postgres?schema=public&sslmode=require"

## Direct access for CLI tools
POSTGRES_URL="postgresql://postgres:Redpanda321!@db.vqnpluzjzuhjztktqath.supabase.co:5432/postgres"
POSTGRES_HOST="db.vqnpluzjzuhjztktqath.supabase.co"
POSTGRES_USER="postgres"
POSTGRES_PASSWORD=Redpanda321!

## Supabase Admin Keys (optional if using service roles or JWT)
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZxbnBsdXpqenVoanp0a3RxYXRoIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0Njk1NjUxMSwiZXhwIjoyMDYyNTMyNTExfQ.p4wmTdTSJ9hxZEnhy-7OhmjIWWLT43ekDkoLpi8Euzg
SUPABASE_JWT_SECRET=fpJ30JZOSF8a3MU1jaijaS+vRshkgrZibRW62MS7mRwE0lxF3203feCwc0L6VaVWREkjhEm+NCnS38u5g+1zAg==

## NextAuth (adjust if deployed)
NEXTAUTH_URL=https://syncdstudy.vercel.app
NEXTAUTH_SECRET=XhYslp6ZA3Lm1E836aXPvVHCf9lskLxQUc+J6JZjFPY=

## Admin password for your app (optional)
NEXT_PUBLIC_ADMIN_PASSWORD=Pineapple314
